* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

#story-scrollbar::-webkit-scrollbar {
  height: 4px;
}

#story-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

#reels-scrollbar::-webkit-scrollbar {
  width: 6px;
}

#reels-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}


@media screen and (min-width: 768px) {
  html {
    font-size: calc(16+ (24-16) * (100vw-768px) / (1600-768));
  }
}
